body{
  background:#f3f3f3;
  margin:0;
  padding:0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1{
  font-family: 'Convergence';
  font-size: 95px;
  text-align: center;
  letter-spacing: -6px;
  margin: 8px 0;
  text-shadow: 0 0 1px #000;
}
h2{
  font-family:'Bitter';
  font-size:20px;
  font-weight:normal;
  color:#5588bb;
  text-shadow: 0 0 1px #5588bb;
  text-align:center;
  margin: 6px 0;
  text-transform:lowercase;
}

h3{
  margin:8px 0;
}

h4{
  margin:6px 0;
}

a{
  color: #5588bb;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

p.big{
  font-family:'Droid Sans';
  font-size:24px;
  color:#333;
}
p.centered{
  text-align:center;
}
#header, #body{
  width:800px;
  margin:0 auto;
}
#body{
  margin:20px auto;
}

#header a{
  color:#000;
}
#header a:hover{
  text-decoration:none;
}

.row{
  margin:24px 0;
}

.btn{
  color:#fff;
  text-decoration:none;
  padding:10px 20px;
  margin:0 2px;
  border-radius:3px;
  border-top:#4c82b7 solid 1px;
  border-left:#4c82b7 solid 1px;
  border-bottom:#3e6d9c solid 1px;
  border-right:#3e6d9c solid 1px;
  background:#4477aa;
  background-image: linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -o-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(59,104,149) 50%, rgb(68,119,170) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, rgb(59,104,149)),
    color-stop(1, rgb(68,119,170))
  );
}

.span1{width:40px;}
.span2{width:100px;}
.span3{width:160px;}
.span4{width:220px;}
.span5{width:280px;}
.span6{width:340px;}
.span7{width:400px;}
.span8{width:460px;}
.span9{width:520px;}
.span10{width:580px;}
.span11{width:640px;}
.span12{width:700px;}
.span13{width:760px;}
.span14{width:820px;}
.span15{width:880px;}
.span16{width:940px;}
.span17{width:1000px;}
.span18{width:1060px;}
.span19{width:1120px;}
.span20{width:1180px;}
.span21{width:1240px;}
.span22{width:1300px;}
.span23{width:1360px;}
.span24{width:1420px;}

.popin{
  background:#fff;
  padding:15px;
  box-shadow: 0 0 20px #999;
  border-radius:2px;
}

ul.gallery{
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
}
ul.gallery li{
  font-family:'Droid Sans';
  display:inline-block;
  width:30%;
  background:#fff;
  padding:10px 8px;
  margin:4px 1px;
  border-radius:3px;
  border:solid 1px #ddd;
}
ul.gallery li:hover{
  background:#f3f3f3;
}
ul.gallery li a{
  display:block;
}
ul.gallery li h5{
  font-weight:normal;
  margin:0;
  font-size:16px;
}

#map,
#panorama {
  height:300px;
  background:#6699cc;
}

#sponsors {
  font-size: 12px;
  text-align: center;
  padding: 4px 6px;
}

#sponsors img {
  height: 40px;
  margin: 4px;
}

code {
  font-family: 'Ubuntu Mono', 'Monaco', 'Andale Mono', 'Courier New', monospace;
  font-weight: bold;
}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:16px;
  line-height:20px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}
